body {
  margin: 0;
  padding: 0;
  background: #212e36;
  color: #182128;
  font-family: 'Source Sans Pro', sans-serif;
}

.tittle {
  text-align: center;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}